<app-seo-comparator-form></app-seo-comparator-form>
<app-history></app-history>
<footer>
<label class="disclaimer">
    <b>Disclaimer:</b> La información obtenida a través de esta aplicación depende de los datos proporcionados por la API de Google, la cual puede variar en cada consulta debido a factores externos. Para reducir errores de conexión o problemas con la API, se recomienda verificar y enviar la URL en el formato completo ("https://www.example.com") para obtener resultados precisos.
</label>
</footer>